.container {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

    
  }
  


.container {
    flex-wrap: wrap;
}


.item

{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.item h2 
{
    text-align: center;
}

.item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (max-width: 576px) {

    .container {
        flex-direction: column;
    }


}
.icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

@keyframes neonBorder {
    0% {
        box-shadow: 0 0 5px #d352a4, 0 0 10px #d352a4, 0 0 20px #d352a4, 0 0 40px #d352a4;
    }
    50% {
        box-shadow: 0 0 10px #d352a4, 0 0 20px #d352a4, 0 0 40px #d352a4, 0 0 80px #d352a4;
    }
    100% {
        box-shadow: 0 0 5px #d352a4, 0 0 10px #d352a4, 0 0 20px #d352a4, 0 0 40px #d352a4;
    }
}

.item {
    animation: neonBorder 1.5s infinite alternate;
}