body {
    background-color: #1c1c1c;
}

p {
    color: white;
    font-size: 20px;
    text-align: center;
    white-space: pre-wrap;
    line-height: 2.5;
}

h1 {

    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

h1,
h2,
h3,
p,
th,
tr,
a {
    font-family: 'Outfit';
    color: white;
}

h3 {
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2em;
}

/* Style for table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    color: white;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
}

table th {
    background-color: #1c1c1c;
    color: white;
}

table tr:nth-child(even) {
    background-color: #2c2c2c;
}

table tr:hover {
    background-color: #3c3c3c;
}

/* Style for links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for form */
form {
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 5%;
    box-shadow:
        0 0 1px #fff,
        inset 0 0 1px #eee,
        0 0 2px #B64E93,
        inset 0 0 2px #B64E93,
        0 0 4px #B64E93,
        inset 0 0 4px #B64E93;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
}

input,
textarea,
select {
    color: white;
    font-family: 'Outfit';
    background-color: #1c1c1c;
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    padding: 10px;
    margin-bottom: 10px;
}

button[type='submit'] {
    background-color: #1c1c1c;
    border: none;
    color: white;
    font-family: 'Outfit';
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    width: 100%;
    height: 30px;
    margin: auto;
    border: 1px solid white;
    cursor: pointer;
}

.container-questions {
    display: flex;
    flex-direction: column;
}

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

/* FORM  */
form {
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 5%;

    box-shadow:
        0 0 1px #fff,
        inset 0 0 1px #eee,
        0 0 2px #B64E93,
        inset 0 0 2px #B64E93,
        0 0 4px #B64E93,
        inset 0 0 4px #B64E93;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
}

label,
input {
    color: white;
    font-family: 'Outfit';
}

textarea {
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    background-color: #1c1c1c;
    color: white;
    font-family: 'Outfit';
    padding: 10px;
    resize: vertical;
}

select {
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    background-color: #1c1c1c;
    color: white;
    font-family: 'Outfit';
    padding: 10px;
    appearance: none;
}


option {
    background-color: #1c1c1c;
    color: white;
    font-family: 'Outfit';
}

button[type='submit'] {
    background-color: #1c1c1c;
    border: none;
    color: white;
    font-family: 'Outfit';
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    width: 100%;
    height: 30px;
    margin: auto;
    border: 1px solid white;
    cursor: pointer;

}

input {
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 1px #eee,
        0 0 4px #5599C3,
        inset 0 0 2px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 4px #5599C3;
    background-color: #1c1c1c;
}

/* v HEADER v */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}

.navbar-menu {
    display: none;
    flex-direction: column;
}

.navbar-menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar-menu a:hover {
    background-color: #ddd;
    color: black;
}

.navbar-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#navbar-toggle {
    display: none;
}

#navbar-toggle:checked+.navbar-icon+.navbar-menu {
    display: flex;
}

.neon-title {
    font-family: 'Corinthia';
    font-size: 72px;
    color: #ffffff;
    text-shadow:
        0 0 6px rgba(241, 139, 245, 0.92),
        0 0 30px rgba(241, 105, 196, 0.34),
        0 0 12px rgba(245, 114, 212, 0.52),
        0 0 21px rgba(238, 157, 227, 0.92),
        0 0 34px rgba(212, 124, 179, 0.78),
        0 0 54px rgba(221, 103, 201, 0.92);
}

.neon-title span {
    text-shadow:
        0 0 6px rgba(126, 194, 240, 0.92),
        0 0 30px rgba(105, 221, 241, 0.34),
        0 0 12px rgba(114, 214, 245, 0.52),
        0 0 21px rgba(157, 233, 238, 0.92),
        0 0 34px rgba(124, 206, 212, 0.78),
        0 0 54px rgba(103, 213, 221, 0.92);
    position: relative;
    top: 35px;
}

@keyframes neonBorderPurple {
    0% {
        text-shadow:
            0 0 6px rgba(241, 139, 245, 0.92);

    }
}

@keyframes neonBorderPurpleBox {
    0% {
        box-shadow:
            0 0 4px #fff,
            inset 0 0 4px #eee,
            0 0 8px #B64E93,
            inset 0 0 8px #B64E93,
            0 0 16px #B64E93,
            inset 0 0 16px #B64E93;
    }


}

@keyframes neonBorderBlue {
    0% {
        text-shadow:
            0 0 6px rgba(139, 215, 245, 0.92);

    }
}

.neon-flashing {
    animation: neonBorderPurple 1.5s infinite alternate;
}

.neon-flashing span {
    animation: neonBorderBlue 1.5s infinite alternate;
}

.neon-flashing-box {
    animation: neonBorderPurpleBox 1.5s infinite alternate;

}


/* ^ HEADER ^  */

/* v MAIN v */
main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    margin-bottom: 5%;

}


.item:nth-child(odd) {
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 2px #eee,
        0 0 4px #5599C3,
        inset 0 0 4px #5599C3,
        0 0 8px #5599C3,
        inset 0 0 8px #5599C3;
    color: #B64E93;

}

.item:nth-child(even) {
    border: 1px solid white;
    box-shadow:
        0 0 2px #fff,
        inset 0 0 2px #eee,
        0 0 4px #B64E93,
        inset 0 0 4px #B64E93,
        0 0 8px #B64E93,
        inset 0 0 8px #B64E93;
    color: #5599C3;

}

.item h2 {
    text-align: center;
}


/* ^ MAIN ^ */

/* v MEDIA QUERIES v */
@media (max-width: 576px) {
    .answers {
        flex-direction: column;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .navbar-menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: #333;
    }

    .navbar-menu a {
        text-align: left;
        padding: 10px 20px;
    }

    h1 {
        font-size: 1.5em;

    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .item {
        margin-top: 10%;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table th,
    table td {
        display: block;
        text-align: right;
    }

    table th::before,
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    table th:last-child,
    table td:last-child {
        border-bottom: 0;
    }
}

.item img {
    width: 100%;
}



@media(min-width: 600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
    }

    .item:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    .container {
        justify-content: space-around;
    }

    .container:nth-child(odd) {
        margin-bottom: 10%;

    }

    .answers {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
    }
}