body {
    background-color:  #1c1c1c;
}



p {
    color: white;
    font-size: 20px;
    text-align: center;
    white-space: pre-wrap;
    line-height: 2.5;
}

h1, h2 {
    color: #d352a4 ;
    text-align: center;
    margin-top: 5%;
} 

h1, h2, p, a 
{
    font-family: 'Outfit';
}

p
main
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
}
.navbar-menu {
    display: none;
    flex-direction: column;
}
.navbar-menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar-menu a:hover {
    background-color: #d352a4;
    
}
.navbar-icon {
    font-size: 30px;
    cursor: pointer;
    color: white;
}
#navbar-toggle {
    display: none;
}
#navbar-toggle:checked + .navbar-icon + .navbar-menu {
    display: flex;
}

footer {

    
    margin-top: 10%;
    width: 100%;
}



.neon-title {
    font-family: 'Corinthia';
    font-size: 72px;
    color: #ffffff;
    text-shadow:
        0 0 6px rgba(241, 139, 245, 0.92),
        0 0 30px rgba(241, 105, 196, 0.34),
        0 0 12px rgba(245, 114, 212, 0.52),
        0 0 21px rgba(238, 157, 227, 0.92),
        0 0 34px rgba(212, 124, 179, 0.78),
        0 0 54px rgba(221, 103, 201, 0.92);
}

.neon-title span {
    text-shadow:
        0 0 6px rgba(126, 194, 240, 0.92),
        0 0 30px rgba(105, 221, 241, 0.34),
        0 0 12px rgba(114, 214, 245, 0.52),
        0 0 21px rgba(157, 233, 238, 0.92),
        0 0 34px rgba(124, 206, 212, 0.78),
        0 0 54px rgba(103, 213, 221, 0.92);
    position: relative;
    top: 35px;
}


@media (max-width: 600px) {
    .navbar-menu {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: #333;
    }
    .navbar-menu a {
        text-align: left;
        padding: 10px 20px;
    }
     h1 {
        font-size: 1.5em;
     }
     footer {
    display: none;
    }
}

@media (min-width: 601px) {
    .navbar-icon {
        display: none;
    }
    .navbar-menu {
        display: flex;
        flex-direction: row;
    }
    
}